In [1]:
import csv
import json
import sqlite3
import pymongo
from glob import glob
from pprint import pprint
from pymongo import MongoClient

In [2]:
#QUERY THE SQLite DATABASE USING THE SQLITE PACKAGE
import sqlite3
files = "superheroes.db"
conn = sqlite3.connect(files)
cursor = conn.cursor()

In [3]:
#connect to MongoDB server
client = MongoClient('localhost', 27017)

In [4]:
client.list_database_names()

['admin', 'config', 'local']

In [7]:
conn=pymongo.MongoClient()

In [10]:
#create and access a database
db = conn.mydb

In [38]:
collection = db["movies"]

In [39]:
collection = db.my_collection

In [40]:
db = conn.superheroes

In [41]:
movies = db.movies

In [42]:
#insert data into MongoDB
movies = {
            "title":"Iron Man",
            "superheroes": [
                {"name": "Iron Man", "age": 42, "gender": "M"}
            ]
           }
movies = {
            "title":"Iron Man 2",
            "superheroes": [
                {"name": "Iron Man", "age": 42, "gender": "M"}
            ]
           }
movies = {
            "title":"Iron Man 2",
            "superheroes": [
                {"name": "Black Widow", "age": 33, "gender": "F"}
            ]
           }
movies = {
            "title":"Iron Man 2",
            "superheroes": [
                {"name": "Nick Fury", "age": 52, "gender": "M"}
            ]
           }
movies = {
            "title":"Iron Man 3",
            "superheroes": [
                {"name": "Iron Man", "age": 42, "gender": "M"}
            ]
           }
movies = {
            "title":"Guardians of the Galaxy",
            "superheroes": [
                {"name": "Starlord", "age": 30, "gender": "M"}
            ]
           }
movies = {
            "title":"Ant-Man",
            "superheroes": [
                {"name": "Ant-Man", "age": 36, "gender": "M"}
            ]
           }
movies = {
            "title":"Deadpool",
            "superheroes": [
                {"name": "Deadpool", "age": 32, "gender": "M"}
            ]
           }
movies = {
            "title":"The Incredible Hulk",
            "superheroes": [
                {"name": "Hulk", "age": 47, "gender": "M"}
            ]
           }
movies = {
            "title":"Captain America: The First Avenger",
            "superheroes": [
                {"name": "Captain America", "age": 87, "gender": "M"}
            ]
           }
movies = {
            "title":"Captain America: The First Avenger",
            "superheroes": [
                {"name": "Nick Fury", "age": 52, "gender": "M"}
            ]
           }
movies = {
            "title":"The Avengers",
            "superheroes": [
                {"name": "Iron Man", "age": 42, "gender": "M"}
            ]
           }
movies = {
            "title":"The Avengers",
            "superheroes": [
                {"name": "Black Widow", "age": 33, "gender": "F"}
            ]
           }
movies = {
            "title":"The Avengers",
            "superheroes": [
                {"name": "Captain America", "age": 87, "gender": "M"}
            ]
           }
movies = {
            "title":"The Avengers",
            "superheroes": [
                {"name": "Hawkeye", "age": 39, "gender": "M"}
            ]
           }
movies = {
            "title":"The Avengers",
            "superheroes": [
                {"name": "Hulk", "age": 47, "gender": "M"}
            ]
           }
movies = {
            "title":"The Avengers",
            "superheroes": [
                {"name": "Nick Fury", "age": 52, "gender": "M"}
            ]
           }

In [52]:
#query MongoDB for movies that contain "Nick Fury"
db.movies.find({"name": "Nick Fury"})

TypeError: 'Collection' object is not callable. If you meant to call the 'find_three' method on a 'Collection' object it is failing because no such method exists.